@import "tailwindcss";

@theme {
  --color-bg-base: #ffffff;
  --color-bg-muted: #f3f4f6;
  --color-border-base: #e5e7eb;
  --color-text-primary: #111827;
  --color-text-secondary: #4b5563;
  --color-text-muted: #6b7280;
  --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;
}

body {
  background-color: var(--color-bg-base);
  color: var(--color-text-primary);
}
